table#userList, table#couponList {
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #ccc;
    width:100%;
}

table#userList th, table#couponList th {
 background-color:#eaeaea;
 border:1px solid #ccc;
 padding:8px;
 font-weight:bold;
 text-align:center;
 vertical-align: middle;
}

table#userList td, table#couponList td {
    border:1px solid #ccc;
    padding:8px;
    vertical-align: middle;
    font-size:0.8rem;
}


table#userList th.center {
    text-align:center;
}

table#userList th.right {
    text-align:right;
}


table#userList td.center {
    text-align:center;
}

table#userList td.right {
    text-align:right;
}